<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="::APP_PACKAGE::" android:versionCode="::APP_BUILD_NUMBER::" android:versionName="::APP_VERSION::" android:installLocation="::ANDROID_INSTALL_LOCATION::">
    
    <!-- Required by AdMob, AppLovin, Facebook Audience Network, Fyber Marketplace, HyprMX, UnityAds, and Vungle -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Required by AdMob, AppLovin, Facebook Audience Network, Fyber Marketplace, HyprMX, UnityAds, and Vungle -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Required by AppLovin, HyprMX, and Vungle -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	
	
	<!-- Optionally used by Chartboost -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 
	<!-- Optionally used by Chartboost -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	
	
	
    
    <application>
		
		<!-- Google Play Services
		<meta-data android:name="com.google.android.gms.version" android:value="10084000"/> -->
        
        <!-- HyprMX 
        <activity android:name="com.hyprmx.android.sdk.activity.HyprMXOfferViewerActivity" android:configChanges="orientation|screenSize|keyboardHidden|keyboard|smallestScreenSize|uiMode|fontScale|screenLayout|locale" android:label="HyprMX SDK" android:launchMode="singleTop" />
        <activity android:name="com.hyprmx.android.sdk.activity.HyprMXRequiredInformationActivity" android:configChanges="keyboardHidden|screenSize" />
        <activity android:name="com.hyprmx.android.sdk.activity.HyprMXNoOffersActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.hyprmx.android.sdk.activity.HyprMXWebTrafficActivity" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.hyprmx.android.sdk.activity.HyprMXVideoPlayerActivity" android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.fyber.mediation.hyprmx.rv.HyprMXVideoMediationActivity"
        android:configChanges="keyboardHidden|orientation|screenSize" />-->
        
        <!-- Fyber Marketplace -->
        <activity android:name="com.heyzap.sdk.ads.HeyzapIncentivizedActivity" android:configChanges="screenSize|orientation" android:theme="@android:style/Theme.Translucent" android:hardwareAccelerated="true" />
        <activity android:name="com.heyzap.sdk.ads.HeyzapInterstitialActivity" android:configChanges="screenSize|orientation" android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.heyzap.sdk.ads.MediationTestActivity" />
        <activity android:name="com.fyber.ads.ofw.OfferWallUnityActivity" android:configChanges="orientation|screenSize" />
        <service android:name="com.fyber.cache.CacheVideoDownloadService" android:exported="false" />
        <meta-data android:name="FYBVideoPlayerOptionCloseButtonDelay" android:value="-1" />
		
		
		
		
		<!-- AppLovin -->
		<activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />
		<activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
		<meta-data android:name="applovin.sdk.key" android:value="UnlcZXiRPBv1KXoB8StZNly6uV7h4T0TFl9pGsEg28hNgTTpxQMIAJP2pXlt_lQEUZ2mQGQTP6r4aOtWpEqzXD"  />
		
		<!-- Chartboost -->
		<activity android:name="com.chartboost.sdk.CBImpressionActivity"
		  android:excludeFromRecents="true"
		  android:hardwareAccelerated="true"
		  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
		  android:configChanges="keyboardHidden|orientation|screenSize" />
		
		<!-- Facebook Audience Network -->
		<activity android:name="com.facebook.ads.InterstitialAdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
		
		
		<!-- UnityAds -->
		<activity android:name="com.unity3d.ads.adunit.AdUnitActivity"  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:hardwareAccelerated="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:hardwareAccelerated="false" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        
		
		<!-- Vungle
		<activity android:name="com.vungle.publisher.FullScreenAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name="com.vungle.publisher.VideoFullScreenAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name="com.vungle.publisher.MraidFullScreenAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
         -->
    </application>
 
</manifest>
